torch>=2.0.0
torchvision>=0.15
ultralytics>=8.0.0
transformers>=4.30
einops>=0.6
pycocotools>=2.0
easydict>=1.9
opencv-python>=4.7
Pillow>=9.0
timm>=0.9.0
numpy>=1.23
scipy>=1.10
tqdm>=4.65
imageio
xformers
pycocotools
